body
{
  font-family: Tahoma, sans-serif;
  color: #28502E;
  background-color: #9DCBBA;
  /*https://coolors.co/ef6f6c-456990-9dcbba-dec0f1-28502e*/
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #456990;
}