body
{
  font-family: Tahoma, sans-serif;
  color: #28502E;
  background-color: #9DCBBA;
  /*https://coolors.co/ef6f6c-456990-9dcbba-dec0f1-28502e*/
  
}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #456990;
}


table
{
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 75px;
    
}

th
{
  border: 1px solid black;
  text-align: center;
}
tr
{
  border: 1px solid black;
  text-align: center;
}
td
{
  border: 1px solid black;
  text-align: center;
}


table tr:first-child
{
  background-color: rgb(78, 78, 78) !important;
  color:lightgreen;
}

table tr:nth-child(even)
{
  background-color: gray;
}
table tr:nth-child(odd)
{
  background-color: lightgray;
}

table tr:nth-child(5) td:first-child
{
  background-color: gray;
}

.fix-first-table
{
  background-color: lightgray !important;
}

input[type=reset]
{
  background-color: darkred;
  color: white;

  
}

input[type=submit]
{
  background-color: darkgreen;
  color: white;
}

input[type="text"]
{
  border: 2px solid black;
}
input[type="number"]
{
  border: 2px solid black;
}
input[type="email"]
{
  border: 2px solid black;
}

input[type="checkbox"]
{
  cursor: pointer;
  
}

input[type="radio"]
{
  cursor: pointer;
  
}

label
{
  cursor: pointer;
}
/* 
*/